footer
  .footer-div
    .footer-div__person.footer-div__person-1
      p: a(class="github-link" href="https://www.github.com/clintonhill") Clinton Hill
    .footer-div__person.footer-div__person-2
      p: a(class="github-link" href="https://www.github.com/Jamiezz") Jamie Zrust
    .footer-div__github-link
      p: a(class="github-link" href="https://www.github.com/Lazytangent/QuestTrackr") GitHub Repo
    .footer-div__person.footer-div__person-3
      p: a(class="github-link" href="https://www.github.com/markhv-code") Mark Valdez
    .footer-div__person.footer-div__person-4
      p: a(class="github-link" href="https://www.github.com/Lazytangent") Peter Mai

