extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .main-content
    h1 Welcome to QuestTrackr
    .main-content__question
      h3 What would you like to do?
    .main-content__response#quests
      button(class="main-content__response--btn" id="quests") Browse the Quests
    .main-content__response#create
      button(class="main-content__response--btn" id="create") Create a Quest
    .main-content__response#profile
      button(class="main-content__response--btn" id="profile") Go to my Profile

