doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href="/stylesheets/navbar.css")
        script(src="/javascripts/xp.js")
        script(src="/javascripts/navbar.js")
  body
    .navbar
      .spacer
      a(href='/')
        .logo-container
      nav
        .nav-container
          if locals.authenticated
            .nav-container__action-buttons
              a(href='/quests') Quests
              a(href="/users") Profile
              a(href="/quests/new") Make a Quest
            .nav-container__xp-section
              span(class="level" id="currentLevel") #
              .nav-container__xp-section--container
                .nav-container__xp-section--fill
                  div(id="currentXp")= locals.user.totalXp
              span(class="level" id="nextLevel") #
            form(action="/quests/search" method="post")
              input(name="search" type="text" placeholder="Search..." id="searchbar")
        .nav-container__auth-buttons
          if locals.authenticated
            span Questing as #{user.username}
            form(action="/logout" method="post")
              button(type="submit" id="logout") Logout
          else
            div.user_auth
              a(href="/login" class="nav-container__auth-buttons--links") Login
              a(href="/register" class="nav-container__auth-buttons--links") Register

    block content
