doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href="/stylesheets/navbar.css")
        link(rel='stylesheet' href="/stylesheets/footer.css")
        script(src="/javascripts/xp.js")
        script(src="/javascripts/navbar.js")
  body
    .navbar
      .spacer
      a(href='/')
        .logo-container
      nav
        .nav-container
          if locals.authenticated
            .nav-container__action-buttons
              a(class="action-button" href='/quests') Quests
              a(class="action-button" href="/users") Profile
              a(class="action-button" href="/quests/new") Make a Quest
            .nav-container__xp-section
              span(class="level" id="currentLevel") #
              .nav-container__xp-section--container
                .nav-container__xp-section--fill
                  div(id="currentXp")= locals.user.totalXp
              span(class="level" id="nextLevel") #
            form(action="/quests/search" method="post")
              input(name="search" type="text" placeholder="Search..." id="searchbar")
        .nav-container__auth-buttons
          if locals.authenticated
            span Questing as #{user.username}
            form(action="/logout" method="post")
              button(type="submit" id="logout") Logout
          else
            div.user_auth
              <button onclick="location.href = '/login';" id="loginButton" class="nav-container__auth-buttons--links">Login</button>
              <button onclick="location.href = '/register';" id="registerButton" class="nav-container__auth-buttons--links">Register</button>

    block content
    block foot 
      footer
        .footer-div
          .footer-div__person.footer-div__person-1
            a(class="github-link" href="https://www.github.com/clintonhill") CH
          .footer-div__person.footer-div__person-2
            a(class="github-link" href="https://www.github.com/Jamiezz") JZ
          .footer-div__github-link
            a(class="github-link github-repo" href="https://www.github.com/Lazytangent/QuestTrackr") GitHub Repo
          .footer-div__person.footer-div__person-3
            a(class="github-link" href="https://www.github.com/markhv-code") MV
          .footer-div__person.footer-div__person-4
            a(class="github-link" href="https://www.github.com/Lazytangent") PM

