extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .page-container
    .big-container
      .gray-container
        .container-1
          .adolescent
            .top-right-adolescent
              button(class="the-adolescent-1" href="/register" type="submit" id="reroute-register") new in town?
            .top-left-adolescent
              button(class="the-adolescent-3" href="/login" type="submit" id="reroute-login") existing Adventurer?
          .adolescent
            .the-adolescent-2 Places to go - Things to do - People to meet


      .container-2
        .child
          p Complete tasks
          .child1-picture-container

        .child
          p Reap the rewards
          .child2-picture-container

        .child
          p Continue onward
          .child3-picture-container


      .container-3
        .juvenile Create your quests and conquer your responsibilities.
          .nav-container-main__xp-container
            .nav-container-main__xp-fill