extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .container1
    .adolescent
      .tophalfadolescent
        a.theAdolescent1(href="/register" type="submit" id="reroute-register") new in town?
        a.theAdolescent3(href="/login" type="submit" id="reroute-login" ) existing Adventurer?
      .theAdolescent2 places to go things to see


  .container2
    .child1
      p complete tasks
    .child2
      p reap the rewards
    .child3
      p continue onward

  .container3
    .juvenile create improve conquer
      .nav-container-main__xp-container
        .nav-container-main__xp-fill