extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/quest-detail.css")
  script(src="/javascripts/quest-detail.js")

block content
  .quest-container
    .quest-name: h3= quest.name
    .quest-description
      p= quest.description
    .quest-startDate: p= quest.startDate
    .quest-deadline: p= quest.deadline
    .quest-xpValue: p= quest.xpValue
    .quest-solo: p= quest.solo
    if quest.completedDate
      .quest-completedDate: p= quest.completedDate

