extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/quest-detail.css")
  script(src="/javascripts/quest-detail.js")

block content
  .page-heading
  .quest-container
    .quest-name.quest-data
    .quest-description.quest-data
    .quest-startDate.quest-data
    .quest-deadline.quest-data
    .quest-xpValue.quest-data
    .quest-solo.quest-data
    .quest-completedDate.quest-data
    .quest-edit-complete.quest-data
    .movement-buttons
