extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/questlist.css")

block content
  h3 Hello adventurer. Witness your quests.
  br
  ul
    each quest in quests
      li #{quest.name}
