extends user-layout.pug

include includes/utils.pug
include includes/errors-mixin.pug

append head
  link(rel="stylesheet" href="/stylesheets/register.css")
  script(src="/javascripts/register.js")

block content
  .logo-container
    a(href="/"): img(src="/images/first-png.jpg")
  +errors(errors)
  .form-container
    .info-container Required *
    form(action="/register" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      +formField('text', 'username', 'Username', 'Username', true)
      +formField('email', 'email', 'Email', 'Email', true)
      +formField('password', 'password', 'Password', 'Password', true)
      +formField('password', 'confirmedPassword', 'Confirm Password', 'Confirm Password', true)
      .form-container__field--button
        button(type="submit" id="submit") Start My Adventure
    form(action="/login-demo" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-container__field--button
        button(type='submit' id='demo-submit') Login as Demo
    .form-container__field--button
      a( href="/login" type="submit" id="rerouteLogin" ) Existing Adventurer?
