.footer-div {
  display: flex;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3a3838;
}

.footer-div__github-link {
  background-color: #747474;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.footer-div__person {
  background-color: #747474;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 120px;
  padding: 0.5rem;
  padding-bottom: 0.75rem;
  text-align: center;
}

.github-link:hover {
  text-decoration: underline;
  color: #14a76c;
}
