@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 3%;
}


body {
  background-color: #272727;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  font-family: 'Texturina', serif;
}

.big-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gray-container {
  margin: 0;
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container-1 {
  margin: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #EDE8E7;
  width: 100%;
  height: 200px;
}

.child {
  display: flex;
  flex-direction: column;
  margin: 1%;
  flex-basis: 30%;
  height:20rem;
  background-color: #EDE8E7;
}

.container-2 {
  justify-content: space-between;
  margin: 1%;
  flex-direction: row;
  display: flex;
  background-color: gray;
  width: 100%;
  height: 50%;
}

.child1-picture-container {
  align-self: center;
  background-image: url('/images/crusader-updated.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
  height: 11rem;
  width: 6rem;
}

p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.child2-picture-container {
  align-self: center;
  background-image: url('/images/gold png 1.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1%;
  height: 10rem;
  width: 5rem;
  vertical-align: bottom;
  display: table-cell;
  height: 80%;
  width: 80%;
}

.child3-picture-container {
  align-self: center;
  background-image: url('/images/box3.png');
  background-repeat: no-repeat;
  background-size: 125%;
  margin: 1%;
  height: 80%;
  width: 80%;
}

.container-3 {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: gray;
  width: 100%;
  height: 300px;
}

.adolescent {
  padding: 5px;
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top-right-adolescent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
  width: 48%;
  height: 48%
}

.top-left-adolescent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
  border:1px solid #942911;
  height: 48%;
  width: 48%;
}

.big-button {
  font-size: 50px;
  font-family: 'Texturina', serif;
}

.big-button:hover {
  font-size: 48px;
  background-color: #f5a141;
  background: #d17a17;
  cursor: pointer;
  font-family: 'Texturina', serif;
}

.the-adolescent-1 {
  color: white;
  box-sizing: border-box;
  margin: 1px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
  border:1px solid #942911;
  height: 66%;
  width: 48%;
}

.the-adolescent-2 {
  font-size: 38px;
  font-family: 'Texturina', serif;
  box-sizing: border-box;
  margin: 1px;
  color: white;
  background-color: #669900;
  width: 98%;
  box-shadow:inset 0px 1px 0px 0px #04834e;
	background:linear-gradient(to bottom, #578007 5%, #669900 100%);
	border-radius:3px;
  border:1px solid #669900;
  height: 33%;
}

.the-adolescent-3 {
  color: white;
  box-sizing: border-box;
  margin: 1px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
  border:1px solid #942911;
  height: 66%;
  width: 48%;
}

.bottom-text {
  font-size: 40px;
}

.juvenile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  width: 98%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 1%;
  background-color: #EDE8E7;
}

#reroute-login:disabled {
  background-color: rgb(155, 155, 155);
}

.nav-container-main__xp-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 1% 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border: solid black;
  background-color: whitesmoke;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-container-main__xp-fill {
  background-color:  #ffd034;
  width: 75%;
  height: 100%;
}

.form-container {
  position: relative;
  top: 150px;
  background-color: #747474;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 350px;
}

.form-container__field {
  align-items: center;
  /* margin-left: 10px; */
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-container__field--input {
  align-self: flex-end;
}

.form-container__field--button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#submit {
  padding: 10px;
  background-color: #ff652f;
  border-radius: 10px;
}

#submit:hover {
  cursor: pointer;
  background-color: #c13200;
}

#submit:disabled {
  background-color: rgb(155, 155, 155);
}

#demo-submit {
  background-color: #009900;
  border-radius: 10px;
  padding: 10px;
}

#demo-submit:hover {
  cursor: pointer;
  background-color: #006b00;
}

.info-container {
  padding-bottom: 10px;
  color: #950740;
}

#rerouteRegister:hover {
  color: #006b00;
}

.asterisk {
  color: #950740;
}

.input {
  padding: .75rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.error {
  font-size: 1rem;
  position: relative;
  top: 150px;
  background-color: #747474;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
  width: 450px;
}

input {
  border-width: 0;
  padding: 5px;
}


