
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
  font-family: 'Texturina', serif;
}

.big-container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container1 {
  margin: 10px;
  display: flex;
  background-color: gray;
  width: 1000px;
  height: 350px;
}

.adolescent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #EDE8E7;
  flex-basis: 100%;
}

.topRightAdolescent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
  width: 48%;
  height: 48%
}

.topLeftAdolescent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
  border:1px solid #942911;
  height: 48%;
  width: 48%;
}

.theAdolescent1 {
  width: 100%;
  margin: 20px;
}

.theAdolescent2 {
  margin: 20px;
  background-color: #669900;
  flex-basis: 50%;
  width: 95%;
}

.theAdolescent3 {
  width: 100%;
  margin: 20px;
}

.container2 {
  margin: 10px;
  display: flex;
  background-color: gray;
  width: 1000px;
  height: 450px;
}

.child1 {
  max-width:100%;
  background-image: url('/images/crusader-updated.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  background-color: #EDE8E7;
  flex-basis: 33%;
}

.child2 {
  max-width:100%;
  background-image: url('/images/second-image-png.png');
  background-repeat: no-repeat;
  background-size:contain;
  margin: 20px;
  flex-basis: 33%;
  background-color: #EDE8E7;
}

.child3 {
  max-width:100%;
  background-image: url('/images/leper complete.png');
  background-repeat: no-repeat;
  background-size:contain;
  margin: 20px;
  flex-basis: 33%;
  background-color: #EDE8E7;
}

.container3 {
  margin: 10px;
  display: flex;
  background-color: gray;
  width: 1000px;
  height: 350px;
}

.juvenile {
  margin: 20px;
  background-color: #EDE8E7;
  flex-basis: 100%;
}

#reroute-login {
  /* box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911; */
}

#reroute-login:disabled {
  background-color: rgb(155, 155, 155);
}

#reroute-register {
  /* box-shadow:inset 0px 1px 0px 0px #d49e28;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911; */
}

.nav-container-main__xp-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border: solid black;
  background-color: whitesmoke;
  width: 800px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-container-main__xp-fill {
  background-color: #ffd034;
  width: 75%;
  height: 100%;
}
