@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
  background-color: #272727;
  font-family: 'Texturina', serif;
}

nav {
  display: flex;
  width: 100%;
}

.nav-container {
  margin-top: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #747474;
  white-space: nowrap;
}

.logo-container {
  width: 200px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #858585;
  background-image: url('../images/QT_transparent_black_ettering.png');
  border-radius: 5px;
}

.navbar {
  display: flex;
  height: 4rem;
}

.user_auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__xp-section {
  display: flex;
  align-items:center;
}

.nav-container__xp-section--container {
  background-color: whitesmoke;
  width: 300px;
  height: 12px;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .nav-container__xp-section--container {
    width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container__xp-section--container {
    width: 50px;
  }
}

.nav-container__xp-section--fill {
  background-color: #ffd034;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container__xp-section--fill:hover {
  background-color: #bd971b;
  cursor: pointer;
}

.nav-container__xp-section--fill:hover #currentXp {
  visibility: visible;
}

.level {
  font-weight: bold;
  margin: 0 2px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a.action-button:hover {
  text-decoration: underline;
}

.nav-container__action-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}

.nav-container__auth-buttons {
  display: flex;
  align-items: center;
  background-color: #747474;
  height: 50%;
  width: fit-content;
  margin-top: 10px;
  padding-left: 5px;
}

.spacer {
  width: 40px;
  height: 50%;
  margin-top: 10px;
  background-color: #747474;
}

span {
  white-space: pre;
  margin-left: .4rem;
}

.nav-container__auth-buttons--links {
  margin-left: .5rem;
  padding: .3rem;
  border-radius: 5px;
  margin-right: 5px;
}

.nav-container__auth-buttons--links:hover {
  cursor: pointer;
  background-color: #b0b0b0;
}

#currentXp {
  visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: .70rem;
}

#logout {
  margin-left: .5rem;
  padding: .3rem;
  border-radius: 5px;
  margin-right: 5px;
}

#logout:hover {
  cursor: pointer;
  background-color: #b0b0b0;
}

#searchbar {
  justify-self: flex-end;
  border-radius: 15px;
  border-width: 0;
  padding: 5px;
}
