@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
body {
  color: white;
}

.container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.sub {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  width: 85%;
  background-color: #747474;
  border-radius: 5px;
}

li {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0 3px;
  margin-left: 10px;
  list-style-type: none;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.complete-quest-button {
  padding: .25rem;
  border-radius: 5px;
  margin-top: 5px;
}

.quest-row {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
