body {
  color: white;
}

li {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0 3px;
  margin-left: 10px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.complete-quest-button {
  height: 75%;
}

.quest-row {
  display:flex;
  align-items: center;
}
