body {
  background-color: #272727;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container, .create-quest-title {
  position: relative;
  top: 150px;
  background-color: #747474;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 450px;
}

.create-quest-title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-size: xx-large;
}

.form-container__field, .form-textarea {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-container__field--input, .form-textarea--input {
  align-self: flex-end;
}

.form-container__field--button {
  padding: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.errors-div {
  display: none;
}

#submit {
  padding: 5px;
  background-color: #ff652f;
  border-radius: 5px;
}

#submit:hover {
  cursor: pointer;
  background-color: #c13200;
}

#submit:disabled {
  background-color: rgb(155, 155, 155);
}

.info-container {
  color: #5d001e;
  padding-bottom: 10px;
}

input, textarea {
  border-width: 0;
  padding: 5px;
  border-radius: 3px;
}
