@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
  font-family: 'Texturina', serif;
  font-size: 1.25rem;
}

.page-heading {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.page-heading h2 {
  font-size: 3rem;
  color: whitesmoke;
}

.quest-data {
  background-color: #272727;
  border-radius: 0.25rem;
  color: whitesmoke;
  height: fit-content;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.quest-container {
  background-color: #747474;
  height: fit-content;
  width: 800px;
  position: relative;
  margin: auto;
  border-radius: 5px;
  top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quest-name h3 {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.quest-description {
  height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.quest-data h5 {
  font-size: 2rem;
}

.completed-container--button {
  display: flex;
}

button.completed {
  color: whitesmoke;
  background-color: #14a76c;
  padding: 5px;
  margin-left: 100px;
  border-radius: 8px;
}
