@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.container {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.sub {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  width: 65%;
  background-color: #747474;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0 3px;
  margin-left: 10px;
  list-style-type: none;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.quest-a:hover {
  text-decoration: underline;
}

.complete-quest-button {
  padding: .25rem;
  border-radius: 5px;
  margin-top: 5px;
}

.complete-quest-button:hover {
  background-color: #b0b0b0;
  cursor: pointer;
}

.quest-row {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.title-box {
  margin-top: 20px;
  background-color: #747474;
  border-radius: 3px;
}

.content-box {
  width: 100%;
  padding-bottom: 10px;
}

.spacer-questlist {
  width: 100%;
  background-color: #272727;
  height: 5px;
  padding: 0;
  margin: 0;
}
