body {
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  position: relative;
  top: 150px;
  background-color: #747474;
  /* text-align: center; */
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 450px;
}

.logo-container {
  position: relative;
  top: 150px;
  background-color: #747474;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 332px;
  font-size: 2em;
  background-image: url('../images/first-png.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
}

.form-container__field {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-container__field--input {
  align-self: flex-end;
}

.form-container__field--button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.errors-div {
  display: none;
}

#reroute-login {
  background-color: #ff652f;
  border-radius: 5px;
}

#reroute-login:disabled {
  background-color: rgb(155, 155, 155);
}

.info-container {
  color: red;
  padding-bottom: 10px;
}
