body {
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  position: relative;
  top: 150px;
  background-color: #747474;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 450px;
}

.logo-container {
  position: relative;
  top: 150px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 332px;
  font-size: 2em;
  background: no-repeat url('../images/first-png.jpg') 50% / 100%;
  height: 140px;
}

.logo-container img {
  vertical-align: top;
  width: 100%;
  opacity: 0;
}

.form-container__field {
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-container__field--input {
  align-self: flex-end;
}

.form-container__field--button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.errors-div {
  display: none;
}

#submit {
  background-color: #ff652f;
  border-radius: 5px;
}

#submit:disabled {
  background-color: rgb(155, 155, 155);
}

.info-container {
  color: red;
  padding-bottom: 10px;
}

#demo-submit {
  background-color: #009900;
  border-radius: 5px;
}

.asterisk {
  color: red;
}

.input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}


